@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/*Only display the mobile sidebar for small screens*/

#mobile_navbar {
    display: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar-nav {
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #2c2f33;
    color: #fff;
    transition: all 0.8s;
    text-align: center;
}

#sidebar-nav .sidebar-header strong {
    display: block;
    font-size: 1.8em;
}

#sidebar-nav ul li a {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    display: block;
}

#sidebar-nav ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#settings {
    position: fixed;
    bottom: 0px;
    width: 80px;
}

#exitNav {
    position: fixed;
    bottom: 74px;
    width: 80px;
}

#sidebar-nav .sidebar-header {
    padding: 15px;
}

/*light up menu option when hovering*/
#sidebar-nav ul li a:hover {
    color: #7386D5;
    background: #fff;
}

/*Current page sidebar-nav wont light up*/
#sidebar-nav ul li.active > a {
    color: #fff;
    background: darkslategrey;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 80px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    right: 0;
}

.feed {
    border: 5px solid black; 
    height: 70vh; 
    width: 100vw; 
    min-height: 325px; 
    min-width: 300px;
    overflow-y: scroll;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 1);
}

.bunInfo {
    display: block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    margin: 10px 5px;
    padding: 16px 16px 16px 16px;
    max-width: 100%;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

/* ---------------------------------------------------
    Submit Bun Map MAGIC
----------------------------------------------------- */

.submit_map {
    width: 40vw;
    height: 50vh
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-height: 411px) {
    #scrollable-navigation {
        overflow: scroll; 
        height: 40vh;
    }
    
}

@media (max-width: 768px) {
    #sidebar-nav {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -40px;
        transition: all 0.8s;
        transform: rotateY(90deg);
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar-nav.active {
        margin-left: 0;
        transition: all 0.8s;
        transform: rotateY(0deg);
    }
    
    #mobile_navbar {
        display: block;
    }

    #mobile_title {
        display: inline-block;
        width: 80%;
        text-align: center;
        font-size: large  ;

    }   
    #content.active {
        transition: all 0.8s;
        width: calc(100% - 80px);
    }

    #content {
        width: 100%;
    }

    .submit_map {
        width: calc(90vw - 80px);
        height: 50vh
    }
}

/* ---------------------------------------------------
    Footer
----------------------------------------------------- */

footer p {
    position: absolute;
    width: 95%;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}
